#honolulu{

    background-color: rgba(10, 17, 26, 0.761);
    color: rgb(245, 243, 240);

}


.formulario{
    width: 50%;
margin: 0 auto;

}

#foot{
margin: 0px;
   background-color: rgb(3, 49, 63);


}
